.Error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 100px;

  @media (min-width: 768px) {
    width: 40%;
    margin: 200px auto 0;
  }

  &__Status {
    font-size: var(--font-size-ui-32);
    font-family: var(--font-family-bold);
    color: var(--color-primary);
  }

  &__Title {
    font-size: var(--font-size-ui-28);
    font-family: var(--font-family-bold);
    margin-bottom: 16px;
  }

  &__Text {
    font-size: var(--font-size-ui-18);
    color: var(--color-gray-400);
    margin-bottom: 16px;
  }
}
