.AppSelect {
  position: relative;

  &__Label {
    display: block;
    color: var(--color-gray-900);
    font-family: firago-medium;
    font-size: var(--font-size-ui-14);
    margin-bottom: 6px;
  }

  &__Trigger {
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--color-gray-400);
    border-radius: var(--border-radius-2xs);
    background-color: var(--color-white);
    outline: none;
    cursor: pointer;
  }

  &__Body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
  }

  &__Placeholder {
    color: var(--color-black);
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__Icon {
    display: flex;
    color: var(--color-black);

    &--Active {
      transform: rotate(180deg);
    }
  }

  &__HelperText {
    display: flex;
    gap: 4px;
    color: var(--color-gray-900);
    font-size: var(--font-size-ui-14);
    margin-top: 8px;

    p {
      display: flex;
      align-items: center;
      margin: 0;
    }

    &--Error {
      color: var(--color-primary);
    }
  }
}

.AppSelectDropdown {
  position: absolute;
  top: 62px;
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: 1px solid var(--color-gray-400);
  border-radius: var(--border-radius-2xs);
  background-color: var(--color-white);
  z-index: 2000;

  &__Empty {
    padding: 8px;
    text-align: center;
    font-size: var(--font-size-ui-14);
  }

  &__Content {
    max-height: 180px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.AppSelectDropdownOption {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-400);
  cursor: pointer;
  outline: 0;
  text-align: left;

  color: var(--color-gray-900);
  font-size: 14px;
  line-height: normal;

  &__Icon {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--color-gray-100);

    &:first-child {
      border-radius: var(--border-radius-2xs) var(--border-radius-2xs) 0 0;
    }

    &:last-child {
      border-radius: 0 0 var(--border-radius-2xs) var(--border-radius-2xs);
    }
  }
}
