@font-face {
  font-family: firago;
  src: url("../fonts/FiraGO-Regular.otf") format("opentype");
}

@font-face {
  font-family: firago-medium;
  src: url("../fonts/FiraGO-Medium.otf") format("opentype");
}

@font-face {
  font-family: firago-bold;
  src: url("../fonts/FiraGO-Bold.otf") format("opentype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  color: var(--color-gray-900);
  font-size: var(--font-size-ui-16);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
